//
@import "./bootstrap/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

$background-primary: linear-gradient(to left, #005c97, #363795);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $background-primary;
    min-height: 100vh;
}

.container {
    max-width: 850px;
}

input,
select {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0.4rem 1rem;
    color: #fff;
    font-size: 0.7rem;
    @media (max-width: 770px) {
        margin-bottom: 0.5rem;
        width: 100% !important;
    }
}
label {
    font-size: 0.8rem;
    color: #fff;
}

input::placeholder {
    color: #fff;
    font-size: 0.7rem;
}
select {
    option {
        background: #000;
    }
}
input:focus,
select:focus {
    outline: none;
}
.button {
    color: #075696;
    background: #fff;
    font-size: 0.8rem;
    border-radius: 10px;
    font-weight: bold;
    @media (max-width: 770px) {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

.pagination {
    .page-link {
        cursor: pointer;
        background-color: #001e5f !important;
        color: #fff;
    }
}
